body {
    margin: 0;
    padding: 0;
    background-color: #88c3ff;
    background-image: url('https://i.imgur.com/gUTWabR.jpg');
    background-size: cover;
}

#aquarium {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fish {
    position: absolute;
    width: 7%;
    background-size: cover;
}